.vth-button-warning {
  background-color: $flat-alizarin;
}

a {
  color: $flat-midnight-blue;
  text-decoration: none;
  &:hover {
    color: darken($flat-wisteria, 10%);
  }
}

.vth-divider {
  margin: 25px 0;
}
