@import 'colors';
@import url('https://fonts.googleapis.com/css?family=Roboto:500');


// defaults
$vth-default-screen-width: calc(95vw);
$vth-max-screen-width: 1300px;

// footer
$vth-header-height: 10vh;
$vth-footer-height: 100px;

//

$border-radius: 17px;


// font
@mixin vth-font-header(){
  color: $font-primary-color;
  font-size: 1.3em;
}
