.vth-remove-list-styles {
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      padding: 8px;
    }
  }
}

.vth-link {
  cursor: pointer;
  &:hover {
    background-color: red;
  }
}

.vth-display-none {
  display: none;
}

.vth-display-inline {
  display: inline-block;
}
