<div class="vth-shell-container">
  <div class="vth-shell-container__main">

    <div class="vth-shell-container__main__left-panel">
      <vth-option-panel></vth-option-panel>
    </div>


    <div class="vth-shell-container__main__body">

      <ul class="vth-remove-list-styles">
        <li>body 1</li>
        <li>body 2</li>
        <li>body 3</li>
        <li>body 4</li>
        <li>body 5</li>
      </ul>
    </div>

    <div class="vth-shell-container__main__details">
      <vth-vertical-panel>
        <ul>
          <li>details 1</li>
          <li>details 2</li>
        </ul>
      </vth-vertical-panel>
    </div>

  </div>

</div>
