.vth-shell-container {
  display: block;
  width: 100%;

  .vth-shell-container__main {
    display: flex;
    flex-direction: row;

    .vth-shell-container__main__left-panel {
      min-width: 20%;
    }
    .vth-shell-container__main__body {
      min-width: 80%;
    }
    .vth-shell-container__main__details {
      position: absolute;
      background-color: gray;
      top: 0;
      width: 30%;
      left: calc(100% - 30%);
      display: block;
      box-shadow: -1px 1px 5px 0px red;
    }
  }
}
