.vth-item-list__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .vth-item-list__container__list {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .vth-item-list__container__list__list-item {
      border-bottom: 1px solid lightgray;

      &:hover {
        background-color: lightgray;
        cursor: pointer;
      }
    }
  }

  .vth-item-list__container__details {
    position: absolute;
    background-color: gray;
    top: 0;
    width: 30%;
    left: calc(100% - 30%);
    display: block;
    box-shadow: -1px 1px 5px 0px red;
  }

  .vth-item-list__container__footer {
    padding: 8px;
    border-top: 2px solid darkgray;
  }
}
