<div class="vth-item-list__container  vth-remove-list-styles">

  <div class="vth-item-list__container__body">

    <div class="vth-item-list__container__body__header">
      <div class="vth-item-list__container__body__header__new-item" (vthClickOutside)="onClickOutsideInput($event)">
        <span (click)="toggleAddNewItemVisibility()">+</span>
        <div *ngIf="viewModel.isAddNewItemVisible" class="vth-display-inline">
          <input class="vth-item-list__container__body__header__new-item__input" (keyup)="addNewItem($event)" [(ngModel)]="viewModel.newItem" #newItemInput>
        </div>
      </div>

    </div>

    <div class="vth-item-list__container__body__content">
      <div class="vth-item-list__container__body__content__main">
        <ul class="vth-item-list__container__list">
          <li class="vth-item-list__container__list__list-item" *ngFor="let item of viewModel.items" (click)="onItemClickHandler($event, item)">{{item.name}}</li>
        </ul>
      </div>
      <div class="vth-item-list__container__body__content__details"
           [class.vth-item-list__container__body__content__details--show]="viewModel.areDetailsVisible"
           [class.vth-item-list__container__body__content__details--hide]="canHideCss && !viewModel.areDetailsVisible"
           (vthClickOutside)="onClickItemDetailsOutsideInput($event)">
        <div class="vth-item-list__container__body__content__details__content__shadow">
        </div>

        <div class="vth-item-list__container__body__content__details__content">
          <vth-item-details (closeEvent)="onCloseDetailsHandler($event)"></vth-item-details>
        </div>

      </div>
    </div>

  </div>

  <div class="vth-item-list__container__footer">
    <div>\/ status</div>
  </div>

</div>
