<div class="vth-item-list__container  vth-remove-list-styles">
  <vth-generic-list [config]="viewModel.genericListConfig" [items]="items" [areDetailsVisible]="viewModel.areDetailsVisible">

    <div class="vth-item-list__container__header" header>
      <div *ngIf="viewModel.isAddNewItemVisible" class="vth-display-inline">
        <mat-form-field class="vth-item-list__container__input" floatLabel="never">
          <input matInput placeholder="Item title" (keyup)="addNewItem($event)" [(ngModel)]="viewModel.newItem" #newItemInput>
        </mat-form-field>
        <span class="vth-item-list__container__close" (click)="onCloseNewItemClick($event)">+</span>
      </div>
    </div>

    <div class="vth-item-list__container__details" details *ngIf="viewModel.areDetailsVisible">
      <vth-item-details
      (closeEvent)="onCloseDetailsHandler($event)"
      (itemDeletedEvent)="onItemDeleted()"
      [details]="viewModel.itemDetails" ></vth-item-details>
    </div>
  </vth-generic-list>
</div>
