<div class="vth-item-list__container  vth-remove-list-styles">
  <vth-generic-list [config]="viewModel.genericListConfig" [items]="items">

    <div header>
      <div *ngIf="viewModel.isAddNewItemVisible" class="vth-display-inline">
        <mat-form-field class="vth-item-list__container__input" floatLabel="never">
          <input matInput placeholder="Item title" (keyup)="addNewItem($event)" [(ngModel)]="viewModel.newItem" #newItemInput>
        </mat-form-field>
        <span class="vth-item-list__container__close" (click)="onCloseNewItemClick($event)">+</span>
      </div>
    </div>

    <div details>
      <vth-item-details (closeEvent)="onCloseDetailsHandler($event)" [details]="viewModel.itemDetails" ></vth-item-details>
    </div>
  </vth-generic-list>
</div>
