.vth-task-details {
  display: block;
  position: absolute;
  top: 70px;
  right: 0;
  width: 20%;
  height: calc(100% - 140px);
  background-color: #8E44AD;
  padding: 5px;
  box-sizing: border-box;
}
