<div class="vth-option-panel__container
            vth-remove-list-styles" [class.vth-option-panel__container--short]="!viewModel.isNameVisible">
  <div class="vth-option-panel__container__nav-container">
    <div class="vth-option-panel__container__nav-container__links">
      <ul>
        <li *ngFor="let item of viewModel.items">
          <a class="vth-link" (click)="navigateToPage(item)">
            <span>[{{item.name[0]}}{{item.name[1]}}]</span>
            <span *ngIf="viewModel.isNameVisible">{{item.name}}</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="vth-option-panel__container__nav-container__hider" (click)="toggleOptionPanel()">
      <p *ngIf="viewModel.isNameVisible">bla</p>
    </div>
  </div>
</div>
