.vth-option-panel__container {
  height: 100vh;
  background-color: gray;
  &--short {
    width: 30%;
  }

  .vth-option-panel__container__nav-container {
    display: flex;
    flex-direction: row;
    width: 100%;

    .vth-option-panel__container__nav-container__links {
      width: 100%;
    }

    .vth-option-panel__container__nav-container__hider {
      height: 100vw;
      width: 5%;
      background-color: green;
      cursor: pointer;
      &:hover{
        background-color: black;
      }
    }
  }
}
