<div class="vth-shell-container">
  <div class="vth-shell-container__main">

    <div class="vth-shell-container__main__left-panel" [class.vth-shell-container__main__left-panel--hidden]="!areOptionPanelNamesVisible">
      <vth-option-panel [toggleOptionPanelNames]="toggleOptionPanelNames.bind(this)"></vth-option-panel>
      <div class="vth-shell-container__main__left-panel__details">
        <router-outlet name="option-details"></router-outlet>
      </div>
    </div>


    <div class="vth-shell-container__main__body">
      <router-outlet></router-outlet>
    </div>

    <div class="vth-shell-container__main__details">
      <vth-vertical-panel>
        <ul>
          <li>details 1</li>
          <li>details 2</li>
        </ul>
      </vth-vertical-panel>
    </div>

  </div>

</div>
