<div class="vth-notes">

  <div class="vth-shared-layout__container">

    <form (submit)="onFormSave()">
      <div class="vth-notes__header
                vth-shared-layout__container__row
                vth-shared-layout__container__row--center">Leave notes or some important info that you have to write down right now.
      </div>

      <div class="vth-notes__notes
                vth-shared-layout__container__row">
        <mat-form-field>
          <textarea matInput mat-autosize [matAutosizeMinRows]="10" [matAutosizeMaxRows]="30"
                    name="notes" placeholder="notes"
                    [(ngModel)]="viewModel.notes"
          ></textarea>
        </mat-form-field>
      </div>


      <div class="vth-shared-layout__container__row">
        <hr>
      </div>

      <div class="vth-shared-layout__container__row">
        <button mat-button color="primary" type="submit">Save</button>
      </div>
    </form>

  </div>

</div>
