.vth-option-panel__container {
  $options-background: #cdcdcd;

  height: 100vh;
  background-color: $options-background;

  .vth-option-panel__container__nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;

    .vth-option-panel__container__nav-container__links {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: calc(100% - 12px);
    }

    .vth-option-panel__container__nav-container__hider {
      width: 10px;
      margin-left: 2px;
      background-color: $secondary-accent-color;
      cursor: pointer;
      &:hover{
        background-color: $primary-accent-color;
      }
    }
  }
}
