<div class="vth-item-details__container" *ngIf="viewModel.isVisible">
  <div class="vth-item-details__container__body">
    <div class="vth-item-details__container__body__header">
      <a class="vth-item-details__container__body__header__close" (click)="onCloseHandler()">X</a>
      <a class="vth-item-details__container__body__header__close" (click)="onPinHandler()">pin</a>
    </div>
    <div class="vth-item-details__container__body__content">
      <div class="vth-item-details__container__body__content__item-details">
        <h2>{{viewModel.item.title}}</h2>
        <div class="vth-item-details__container__body__content__item-details__header">
          <div class="vth-item-details__container__body__content__item-details__header__name">
            project: {{viewModel.item.project.name}}
          </div>

          <div class="vth-item-details__container__body__content__item-details__header__date">
            planned for :{{viewModel.item.date | date:'short'}}
          </div>

          <div class="vth-item-details__container__body__content__item-details__header__tags">
            <span *ngFor="let tag of viewModel.item.tags; let i = index">{{tag.name}}
              <em *ngIf="i<viewModel.item.tags.length-1">, </em></span>
          </div>

        </div>

        <mat-divider></mat-divider>

        <div class="vth-item-details__container__body__content__item-details__comments">
          <div class="vth-item-details__container__body__content__item-details__comments__input-form">
            <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Enter comment" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>
            </mat-form-field>
          </div>

          <div>
            <button mat-button color="primary">Save</button>
          </div>

          <mat-divider></mat-divider>

          <div class="vth-item-details__container__body__content__item-details__comments__comment-entries">
            <ul>
              <li *ngFor="let com of viewModel.item.comments">
                <div class="vth-item-details__container__body__content__item-details__comments__comment-entries__entry">
                  <span>{{com.author}} @ {{com.date | date:'short'}}</span>
                  <span>edit / delete</span>
                  <div>{{com.comment}}</div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
