.vth-item-details__container {
    height: 100%;

    .vth-item-details__container__body {
        display: flex;
        flex-direction: column;
        height: 100%;

        .vth-item-details__container__body__header {
            //background-color: green;
            padding: 5px;

            .vth-item-details__container__body__header__close {
                cursor: pointer;
            }

            .vth-item-details__container__body__header__pin {
                cursor: pointer;
                margin-left: 5px;
            }
        }

        .vth-item-details__container__body__content {
            padding: 5px;
            height: 100%;

            .vth-item-details__container__body__content__item-details {
                position: relative;
                height: 100%;

                .vth-item-details__container__body__content__item-details__item {}


                .vth-item-details__container__body__content__item-details__title {
                    font-size: 1.2em;
                    font-weight: bold;
                    padding-bottom: 5px;

                    &--edit {
                        padding: 5px;
                        background-color: $third-color;
                        position: absolute;
                        top: 0;
                        height: 100%;
                        width: 100%;
                        z-index: 100;
                        box-sizing: border-box;
                    }
                }

                .vth-item-details__container__body__content__item-details__header {
                    height: 20%;
                    overflow-y: auto;

                    .vth-item-details__container__body__content__item-details__header__name {
                        font-size: 1.1em;
                        padding-bottom: 5px;
                    }

                    .vth-item-details__container__body__content__item-details__header__date {
                        font-size: 1.0em;
                        padding-bottom: 5px;
                    }

                    .vth-item-details__container__body__content__item-details__header__tags {}
                }

                .vth-item-details__container__body__content__item-details__comments {
                    height: 55%;

                    .vth-item-details__container__body__content__item-details__comments__input-form {}

                    .vth-item-details__container__body__content__item-details__comments__comment-entries {
                        height: 70%;
                        overflow-y: auto;
                        padding-bottom: 42px;

                        .vth-item-details__container__body__content__item-details__comments__comment-entries__entry {
                            padding-bottom: 15px;

                            .vth-item-details__container__body__content__item-details__comments__comment-entries__entry__header {}

                            .vth-item-details__container__body__content__item-details__comments__comment-entries__entry__actions {}

                            .vth-item-details__container__body__content__item-details__comments__comment-entries__entry__body {}
                        }

                    }
                }
            }
        }
    }
}

vth-item-details {
    display: block;
    height: 100%;
}
