<div class="vth-item-details__container" *ngIf="viewModel.isVisible">
    <div class="vth-item-details__container__body">
        <div class="vth-item-details__container__body__header">
            <a class="vth-item-details__container__body__header__close" (click)="onCloseHandler()">X</a>
            <a class="vth-item-details__container__body__header__pin" (click)="onPinHandler()"> {{viewModel.isDialogPinned? 'unpin' : 'pin'}} </a>
        </div>
        <div class="vth-item-details__container__body__content">

            <div class="vth-item-details__container__body__content__item-details">

                <ng-container *ngIf="!viewModel.isEditItemOpened; else itemEditOpened">
                    <div class="vth-item-details__container__body__content__item-details__title">
                        {{viewModel.item?.name}} <a class="vth-special__no-close" (click)="onItemEditClick()">edit</a>
                    </div>
                </ng-container>

                <ng-template #itemEditOpened>
                    <div class="vth-item-details__container__body__content__item-details__title
                        vth-item-details__container__body__content__item-details__title--edit">
                        <div>
                            <mat-form-field class="vth-item-list__container__input">
                                <input matInput placeholder="Name" [(ngModel)]="viewModel.item.name">
                            </mat-form-field>
                        </div>
                        <div>
                            <button mat-button (click)="onItemEditCancelClick($event)" class="vth-special__no-close" type="button">Cancel</button>
                            <button mat-button color="primary" (click)="onItemEditSubmitClick($event)" class="vth-special__no-close" type="button">Submit</button>
                        </div>
                    </div>
                </ng-template>

                <div class="vth-item-details__container__body__content__item-details__header">
                    <div class="vth-item-details__container__body__content__item-details__header__name">
                        project: {{viewModel.item?.project?.name}}
                    </div>

                    <div class="vth-item-details__container__body__content__item-details__header__date">
                        planned for :{{viewModel.item?.project?.releaseAt | date:'short'}}
                    </div>

                    <div class="vth-item-details__container__body__content__item-details__header__tags" *ngIf="viewModel.item">
                        <span *ngIf="viewModel.item.tags.length>0">Tags: </span>
                        <span *ngFor="let tag of viewModel.item.tags; let i = index">
                            {{tag.name}}
                            <em *ngIf="i<viewModel.item.tags.length-1">, </em>
                        </span>
                    </div>
                </div>

                <div class="vth-item-details__container__body__content__item-details__comments">

                    <div class="vth-divider">
                        <mat-divider></mat-divider>
                    </div>

                    <div class="vth-item-details__container__body__content__item-details__comments__form">
                        <div class="vth-item-details__container__body__content__item-details__comments__form__inputs">
                            <mat-form-field>
                                <textarea matInput placeholder="Enter comment" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"
                                    [(ngModel)]="viewModel.item.newComment">
                                        </textarea>
                            </mat-form-field>
                        </div>

                        <div class="vth-item-details__container__body__content__item-details__comments__form__actions">
                            <button mat-button color="primary" (click)="onCommentSaveClick()">Save</button>
                        </div>

                        <div class="vth-divider">
                            <mat-divider></mat-divider>
                        </div>
                    </div>

                    <div class="vth-item-details__container__body__content__item-details__comments__entries" *ngIf="viewModel.item">
                        <ul>
                            <li *ngFor="let com of viewModel.item.comments">
                                <div class="vth-item-details__container__body__content__item-details__comments__entries__entry">
                                    <span class="vth-item-details__container__body__content__item-details__comments__entries__entry__header">{{com.author}} @
                                        {{com.date | date:'short'}} </span>
                                    <span class="vth-item-details__container__body__content__item-details__comments__entries__entry__actions">
                                        <a class="vth-link" (click)="onCommentEditClick(com)">edit</a> /
                                        <a class="vth-link" (click)="onCommentDeleteClick(com)">delete</a>
                                    </span>
                                    <div class="vth-item-details__container__body__content__item-details__comments__entries__entry__body">{{com.comment}}</div>
                                </div>
                            </li>
                        </ul>

                        <ng-container *ngIf="viewModel.item.isEditedCommentEnabled">
                            <div class="vth-item-details__container__body__content__item-details__title
                                    vth-item-details__container__body__content__item-details__title--edit">
                                <div>
                                    <mat-form-field class="vth-item-list__container__input">
                                        <input matInput placeholder="Comment" [(ngModel)]="viewModel.item.editedComment.comment">
                                    </mat-form-field>
                                </div>
                                <div>
                                    <button mat-button (click)="onCommentEditCancelClick($event)" class="vth-special__no-close" type="button">Cancel</button>
                                    <button mat-button color="primary" (click)="onCommentEditSubmitClick($event)" class="vth-special__no-close" type="button">Submit</button>
                                </div>
                            </div>
                        </ng-container>
                    </div>

                </div>


            </div>
        </div>
    </div>
</div>
