vth-generic-list {
  display: block;
  height: 100%;

  .vth-generic-list__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .vth-generic-list__container__list {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .vth-generic-list__container__list__list-item {
        border-bottom: 1px solid $secondary-accent-color;

        &:hover {
          background-color: $third-color;
          cursor: pointer;
        }
      }
    }

    .vth-generic-list__container__body {
      display: flex;
      flex-direction: column;

      .vth-generic-list__container__body__header {
        border-bottom: 2px solid $secondary-accent-color;
        padding: 5px;
        height: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;

        .vth-generic-list__container__body__header__new-item {
          font-size: 1.1em;
          font-weight: bold;

          &:hover {
            cursor: pointer;
          }

          .vth-generic-list__container__body__header__new-item__icon {
            padding-right: 10px;
          }
        }
      }

      .vth-generic-list__container__body__content {
        display: flex;
        flex-direction: row;

        .vth-generic-list__container__body__content__main {
          //width: 100%;
          min-width: 100%;
        }

        .vth-generic-list__container__body__content__details {
          position: absolute;
          right: 0;
          background-color: transparent;
          height: calc(100% - 41px - 43px);
          width: 20%;
          min-width: 20vw;
          display: none;
          flex-direction: row;
          overflow: hidden;

          &--show {
            animation: slide-in 0.5s forwards;
            -webkit-animation: slide-in 0.5s forwards;
            display: flex;
          }

          .vth-generic-list__container__body__content__details__content__shadow {
            width: 10px;
            height: 100%;
            background-image: linear-gradient(90deg, transparent, rgba($third-color, 1));
          }

          .vth-generic-list__container__body__content__details__content {
            background-color: rgba($third-color, 1);
            width: 100%;

          }
        }

      }
    }

    .vth-generic-list__container__footer {
      padding: 5px;
      border-top: 2px solid $secondary-accent-color;
      height: 30px;
      display: flex;
      align-items: center;
    }
  }

  .slide-in {
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
  }

  .slide-out {
    animation: slide-out 0.5s forwards;
    -webkit-animation: slide-out 0.5s forwards;
  }

  @keyframes slide-in {
    0% {
      transform: translateX(30vw);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slide-out {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(30vw);
    }
  }
}
